<!DOCTYPE HTML>
<html>
	<head>
		<title>Register - Antaragni Leadership Initiative</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.onvisible.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<style type="text/css">
			input.ng-invalid {
			  color: red;
			}

			input.ng-valid {
			  color: green;
			}

			.validation-message {
				text-align: center;
				color: red;
			}

			.error {
				color: red;
			}
		</style>
	</head>
	<body class="no-sidebar">

		<!-- Header -->
			<div id="header">

				<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="index.html" id="logo">Antaragni Leadership Initiative</a></h1>
						</header>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
						
							<li><a href="index.html">ALI</a></li>
							<li><a href="index.html">Antaragni '14</a></li>
							<li><a href="register.html">Register</a></li>
						</ul>
					</nav>
			</div>

		<!-- Main -->
			<div class="wrapper style1">
				<div class="container 8u" ng-app="root">
					<article id="main" class="special">
						<header>
								The following questionnaire contains questions which will be judged on creativity, clarity of thought
								and critical thinking.
						</header>

						<form name="registration" action="register.php" method="POST">
							<section >
								<section>
									<header>
										<h3>Personal Details</h3>
									</header>

									<label for="name">Name</label>
									<div class="error" ng-show="registration.name.$dirty && registration.name.$invalid">
										<div class="error" ng-show="registration.name.$error.required">
												You must enter your name
										</div>
									</div>
									<input type="text" id="name" name="name" placeholder="Name" ng-model="user.name" required/>

									<label for="email">E-mail</label>
									<div class="error" ng-show="registration.email.$dirty && registration.email.$invalid">
										<div ng-show="registration.email.$error.required">
											You must enter your e-mail
										</div>

										<div ng-show="registration.email.$error.email">
											Illegal Email
										</div>
									</div>
									<input type="email" id="email" name="email" placeholder="E-mail" ng-model="user.email" required/>

									<label for="college">College</label>
									<div class="error" ng-show="registration.college.$dirty && registration.college.$invalid">
										<div class="error" ng-show="registration.college.$error.required">
												You must enter your college
										</div>
									</div>
									<input type="text" id="college" name="college" placeholder="College" ng-model="user.college" required/>
									
									<label for="city">City</label>
									<div class="error" ng-show="registration.city.$dirty && registration.city.$invalid">
										<div class="error" ng-show="registration.city.$error.required">
												You must enter your city
										</div>
									</div>
									<input type="text" id="city" name="city" placeholder="City" ng-model="user.city" required/>

									<label for="mobile">Mobile</label>
									<div class="error" ng-show="registration.mobile.$dirty && registration.mobile.$invalid">
										<div class="error" ng-show="registration.mobile.$error.required">
												You must enter your mobile
										</div>

										<div class="error" ng-show="registration.mobile.$error.minlength">
												Minimum length should be 10
										</div>
									</div>
									<input type="number" name="mobile" id="mobile" ng-minlength="10" placeholder="Mobile" ng-model="user.mobile" required/>
								</section>

								<section>
									<header>
										<h3>
											<label for="q1">
												If you had to award yourself with one prestigious honor from all around the world, what would it be and why?
											</label>
										</h3>
									</header>

									<textarea name="q1" id="q1" cols="10" rows="10" ng-model="user.q1"></textarea>

								</section>

								<section>
									<header>
										<h3>
											<label for="q2">
												In the light of recent missile attack on flight MH17 and the stand-off in Israel, don’t you think terrorism has hit a new peak and human intervention, namely diplomacy is failing to find ground. State your opinion on the topic.
											</label>
										</h3>
									</header>

									<textarea name="q2" id="q2" cols="10" rows="10" ng-model="user.q2"></textarea>
								</section>

								<section>
									<header>
										<h3>
											<label for="q3">
												India is overjoyed at the prospect of a medal in the Commonwealth Games. Do you think the time will come when even a gold at the Olympics would seem ordinary to us just like another feather in the cap?
											</label>
										</h3>
									</header>

									<textarea name="q3" id="q3" cols="10" rows="10" ng-model="user.q3"></textarea>
								</section>

								<section>
									<header>
										<h3>
											<label for="q4">
												You have to wipe out complete trace of a human invention, what will it be? State the effects of your actions and how would it make the world a better place?
											</label>
										</h3>
									</header>

									<textarea name="q4" id="q4" cols="10" rows="10" ng-model"user.q4"></textarea>
								</section>

								<section>
									<header>
										<h3>
											<label for="q5">
												Do you think is it possible for someone to meet the basic requirements of living in an urban area with around Rs.50/day? Do you consider these government estimates to be realistic or unrealistic?
											</label>
										</h3>
									</header>

									<textarea name="q5" id="q5" cols="10" rows="10" ng-model="user.q5"></textarea>
								</section>

							</section>

                            <footer>
                                <p class="validation-message" ng-show="registration.$invalid">Your Form is incomplete</p>
                                <input type="submit" name="submit" id="submit" value="Submit" />
                            </footer>
						</form>
					</article>
				</div>

			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="12u">
							<!-- Contact -->
								<section class="contact">
									<ul class="icons">
										<li><a href="https://twitter.com/antaragni" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://facebook.com/antaragni.iitk" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									</ul>
								</section>

							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Antaragni. All rights reserved.</li>
									</ul>
								</div>

						</div>

					</div>
				</div>
			</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
	</body>
</html>